.aboutMain {
	position: relative;
	content: '';
	/*border: 2px solid green;*/
}
.aboutContent {
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fcfcfc;
	/*border: 2px solid #fcfcfc;*/
	align-items: center;
}
.aboutSubContent {
	color: #fcfcfc;
	margin-inline: 25%;
	line-height: 50px;
}
.about {
	font-size: 20px;
	text-align: left;
	margin-left: -20%;
	margin-right: -20%;
}
.title {
	font-size: 20px;
	text-align: left;
	margin-left: -20%;
	margin-bottom: -3%;
	/*border-bottom: 2px solid red;*/
	width: max-content;
	animation: glowing 2500ms infinite;
}
.social {
	display: flex;
	text-decoration: none;
	/*width: fit-content;*/
	/*margin-right: auto;*/
	color: #fcfcfc;
	transition: color 0.5s ease;
	margin-left: 4%;
}
.social:hover {
	/*background-color: red;*/
	/*border-radius: 10px;*/
	content: '';
	text-decoration-line: underline;
	text-decoration-thickness: 2px;
}
@keyframes glowing {
	0% {
		color: rgb(180, 0, 0);
	}
	50% {
		color: red;
	}
	100% {
		color: rgb(180, 0, 0);
	}
}
h3 {
	text-align: center;
	color: #fcfcfc;
	font-size: 4rem;
	/*border: 2px solid #fcfcfc;*/
}
