* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
}
.menu_subcontent {
    /*border: 2px solid green;*/
    padding-bottom: 1.5%;
    padding-top: 1.5%;
    position: relative;
    height: fit-content;
}
.navbar_item {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    height: 3rem;
    /*border: 2px solid white;*/
}
.menu_button {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 1rem;
    padding-bottom: 1rem;
    margin-left: 2px;
    color: white;
    font-size: 1.5rem;
    position: relative;
    /*border: 2px solid white;*/
}
.menu_button:hover {
    animation: pulse 1.8s infinite;
}
.menu_button:hover::before {
    content: ">";
    font-size: 1.45rem;
    color: red;
    animation: fade_in 0.6s forwards;
    /*border: 2px solid green;*/
}
.menu_button:hover::after {
    content: "<";
    font-size: 1.45rem;
    color: red;
    animation: fade_in 0.6s forwards;
}
@keyframes fade_in {
    0% {
        margin-left: -15px;
        margin-right: -15px;
        opacity: 0;
    }
    100% {
        margin-left: -25px;
        margin-right: -25px;
        opacity: 1;
    }
}
@keyframes pulse {
	60% {
        opacity: 0.8;
		font-size: 1.45rem;
	}
    100% {
        opacity: 1;
    }
}
h5 {
    color: white;
}
h3 {
    color:white;
    text-align: center;
    font-size: 4vw;
    margin-top: -20%;
    margin-bottom: -20%;
}
.menu_content {
    display: flex;
    text-align: center;
    justify-content: center;
    padding-top: 150px;
    color: white;
    padding-bottom: 50px;
    /*border: 2px solid white;*/
}
.resume_content {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    margin-bottom: -2%;
    /*border: 2px solid white;*/
    margin-inline: 25%;
    position: relative;
}
@media screen and (max-width: 800px) {
    .menu_button {
        font-size: 1.05rem;
    }
    .menu_button:hover::before {
        font-size: 1rem;
    }
    .menu_button:hover::after {
        font-size: 1rem;
    }
    @keyframes pulse {
        60% {
            font-size: 1rem;
        }
        100% {
            
        }
    }
    @keyframes fade_in {
        0% {
            margin-left: -14px;
            margin-right: -14px;
        }
        100% {
            margin-left: -16px;
            margin-right: -16px;
        }
    }
}
