.resumeContent {
	text-align: center;
	justify-content: center;
	padding-top: 50px;
	padding-bottom: 50px;
	color: #fcfcfc;
	/*border: 2px solid #fcfcfc;*/
	position: relative;
}
.h3 {
	text-align: center;
	color: #fcfcfc;
	font-size: 4rem;
	/* border: 2px solid #fcfcfc; */
}
.resumeSubcontent {
	display: block;
	text-align: center;
	color: #fcfcfc;
	margin-bottom: 50px;
	margin-top: -50px;
	/*border: 2px solid #fcfcfc;*/
	position: relative;
}
.resumeImage {
	align-items: center;
	width: 100%;
	height: auto;
}
