* {
	margin: 0;
	padding: 0;
}
body {
	background: url('stars.png') repeat top center;
	background-color: black;
	position: absolute;
	background-repeat: repeat-y;
	/*border: 2px solid red;*/
	width: 100%;
	height: 100%;
}
h1 {
	margin-top: 25px;
	font-size: 6rem;
	padding-inline: 4%;
	position: relative;
	/*border: 2px solid red;*/
}
h2 {
	margin-top: 25px;
	font-size: 6rem;
	padding-right: 3%;
	position: relative;
}
.main_content {
	display: flex;
	text-align: center;
	justify-content: center;
	padding-top: 250px;
	color: #fcfcfc;
	padding-bottom: 50px;
	/*border: 2px solid #fcfcfc;*/
}
.sub_content {
	color: #fcfcfc;
	position: relative;
}
.button {
	display: flex;
	justify-content: center;
	text-decoration: none;
	border: none;
	outline: none;
	color: red;
	/*border: 2px solid #fcfcfc;*/
	font-size: 25px;
	animation: glowing 2.3s infinite;
	cursor: pointer;
}
/*.button:hover {
    font-size: 2vw;
    transition: 100ms ease-in;
    cursor: default;
}*/
@keyframes glowing {
	0% {
		color: rgb(180, 0, 0);
	}
	50% {
		color: red;
	}
	100% {
		color: rgb(180, 0, 0);
	}
}
@font-face {
	font-family: 'future';
	src: url('/src/Kenney Future.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.stars {
	font-family: 'Press Start 2P';
}
.rotating_stars {
	background: transparent url('splashing.png') repeat;
	background-repeat: repeat;
	background-size: 100%;
	height: 100%;
	width: 100%;
	animation: twinkle 60s linear infinite;
	position: fixed;
}
@keyframes twinkle {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 1000px 0;
	}
}
#bar {
	width: 0%;
	height: 30px;
	background-color: #fcfcfc;
	text-align: center;
	line-height: 30px;
	color: #fcfcfc;
}
#bar1 {
	width: 0%;
	height: 30px;
	background-color: #fcfcfc;
	text-align: center;
	line-height: 30px;
	color: #fcfcfc;
}
.loading_bar {
	display: flex;
	width: 50%;
	margin-inline: auto;
	margin-top: 300px;
	border: 2px solid #fcfcfc;
	position: relative;
}
h4 {
	color: #fcfcfc;
	text-align: center;
	padding-top: 30px;
	font-size: 2rem;
	position: relative;
}
.loading_content {
	content: '';
}
.footer {
	color: #fcfcfc;
	position: fixed;
	text-align: center;
	margin-top: 100px;
	font-size: 18px;
	bottom: 0;
	left: 0;
}
.big_button {
	display: flex;
	justify-content: center;
	height: 100vh;
	width: 100vw;
	text-decoration: none;
	border: none;
	outline: none;
	color: red;
	/*border: 2px solid #fcfcfc;*/
	font-size: 25px;
	animation: glowing 2.3s infinite;
	cursor: default;
	z-index: 3;
	position: fixed;
	top: 0;
	left: 0;
	padding-top: 450px;
}
@media screen and (max-width: 800px) {
	h1 {
		margin-top: 50px;
		font-size: 50px;
	}
	h2 {
		margin-top: 50px;
		font-size: 50px;
	}
	.button {
		font-size: 15px;
		margin-top: -20px;
	}
	h4 {
		font-size: 20px;
	}
	.footer {
		font-size: 12px;
	}
	.big_button {
		padding-top: 50vh;
	}
}
